@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Esta sera la pagina principal de la aplicacion</p>
    <p>Autor:Edgar Yair Cauich Canul</p>
</div>
